{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    {% for user in users %}
        {% if current_user.gender != user.gender %}
            
            <form action="{{ url_for('like_profile', user_id=user.id) }}" method="POST">
                {{ form.hidden_tag() }}
                <p>{{ user.name }}</p>
                <p>{{ user.gender }}</p>
                <p>{{ user.age }}</p>
                <p>User id: {{ user.id }}</p>
                <p>{{ form.submit }}</p>
            </form>
            
        {% endif %}
    {% endfor %}
{% endblock %}