{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    {% for user in users %}
        {% if current_user.gender != user.gender and user != current_user.likes_given.filter_by(to=user).first().to and user != current_user.dislikes_given.filter_by(to=user).first().to%}                 
            <form action="{{ url_for('likes.like_profile', user_id=user.id) }}" method="POST">
                {{ form.hidden_tag() }}
                <img class='rounded-circle account-img' src="static/profile_pics/{{ user.image_file }}">
                <p>{{ user.name }}</p>
                <p>{{ user.gender }}</p>
                <p>{{ user.age }}</p>
                <p>{{ user.image_file }}</p>
                <p>User id: {{ user.id }}</p>
                <p>{{ form.submit }}</p>
            </form>
            <form action="{{ url_for('likes.dislike_profile', user_id=user.id) }}" method="POST">
                {{ dislike_form.hidden_tag() }}
                {{ dislike_form.submit }}
            </form>           
        {% endif %}
    {% endfor %}
{% endblock %}