<html>
    <head>
        <title>DateR</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <div class="logo">
                    <span style="color: rgb(4, 62, 65);">Date</span><span style="color: rgb(216, 89, 136);">R.com</span>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <div class="nav">
                <ol>
                    <li>Home</li>
                    <li>Register</li>

                </ol>
            </div>
        </div>
    </body>
</html>